.divmain {
  background: linear-gradient(170.53deg, #2E1371 2.71%, #130B2B 97.75%);
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_wrap {
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 400px;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.header div:first-child {
  width: 44px;
  height: 44px;
}
.legend {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}
.legend div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 25px;
}
.legend div::before {
  content: "";
  border-radius: 10px;
  width: 10px;
  height: 10px;
  display: block;
  margin-right: 10px;
}
.legend div:nth-child(1)::before {
  background-color: white;
}
.legend div:nth-child(2)::before {
  background-color: rgba(182, 17, 107, 1);
}
.legend div:nth-child(3)::before {
  background-color: rgba(96, 255, 202, 1);
}

.info_block {
  width: 400px;
  background-image: url('../../images/Base.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 12rem;
  position: absolute;
  bottom: 0;
}

.btn_buy {
  width: 64px;
  height: 64px;
  background-image: url('../../images/buy.png');
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  background-size: contain;
  position: absolute;
  top: 4rem;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}